<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="public/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	 <link href="public/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>torixApi</title>
</head>
<body>
	<style>
  body {
  background-color: #212529;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> 

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
		<div class="container-fluid"> 
			<a class="navbar-brand">torixApi</a> 
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> 
				<span class="navbar-toggler-icon"></span> 
			</button> <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
				<ul class="navbar-nav"> <li class="nav-item"> 
					<a class="nav-link active text-light" aria-current="page" href="/">Home</a> 
				</li>
					
					<li class="nav-item"> <a class="nav-link text-light" href='/releases'>Releases</a></li>
					<li class="nav-item dropdown"> 
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> More 
						</a> <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <li>
							<a class="dropdown-item" href="/discord">Discord</a></li>
							<li>
								<a class="dropdown-item" href="/github">GitHub</a></li> <li><a class="dropdown-item" href="/docs">Docs</a></li> </ul> </li> </ul> </div> </div> </nav>
	<!-- q odio -->

	<center markdown="1"><h1 class='fw-bold text-text-light'>Docs</h1>
	<p class='lh-base text-light'>The base url is: <strong>torix.bonee.xyz/api/v1/</strong></p>
  <center markdown="1"><h1 class='fw-bold text-light'>Endpoints</h1>
  <p class='lh-base text-light'><strong >torix.bonee.xyz/api/v1/cat</strong></p>
  <p class='lh-base text-light'><strong>https://torix.bonee.xyz/api/v1/anime/[number between 01 and 11]</strong></p>
  <p class='lh-base text-light'><strong>torix.bonee.xyz/api/v1/wallpapers</strong></p>
  <p class='lh-base text-light'><strong>torix.bonee.xyz/api/v1/turtles</strong></p>
<br>


		
	<h1 class='text-white lh-base'>How it's work?
	</h1>
 <div data-bs-spy="scroll" data-bs-offset="0" tabindex="0"> 
	 <h6 class='text-light'>
		<pre><code> GET https://torix.bonee.xyz/api/v1/cat </code></pre><br><br><br>
	</h6> 
	</div>
		<br>
		<p class='text-light'>return</p>
		<div data-bs-spy="scroll" data-bs-offset="0" tabindex="0">
		<h6 class='text-light'>
			{"00001":"https://i.imgur.com/4WxOeon.jpg", etc...
		</h6>
		</div>
 	</center>

		<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-light">&copy; 2021 Torix, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>
		<div class="col">
      <ul class="nav flex-column">
      <div class="d-grid gap-2 col-6">
  <a href="https://discord.gg/tYqKFJaP8c"><button  type="button" class="btn btn-outline-light btn-sm">Discord</button>
	<a href="https://github.com/leoo027/torixApi"><button type="button" class="btn btn-outline-light btn-sm">GitHub</button>
</div>
      </ul>
    </div>
  
  </footer>
</div>

	
</body>
</html>
