<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="title" content="torixApi | Home">
    <meta name="description" content="📚 › Just a simple Api. Welcome!">
    <meta name="msapplication-TileColor" content="#363636" />

    <meta name="theme-color" content="#363636">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/810678890501636156/893269636450234388/737591.png">
<link rel="stylesheet" href="public/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	 <link href="public/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>torixApi</title>
</head>
<body>

	<style>
  body {
  background-color: #212529;
}
	</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> 

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
		<div class="container-fluid"> 
			<a class="navbar-brand text-light">torixApi</a> 
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> 
				<span class="navbar-toggler-icon"></span> 
			</button> <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
				<ul class="navbar-nav"> <li class="nav-item"> 
					<a class="nav-link active text-light" aria-current="page" href="/">Home</a> 
				</li>  
					<li class="nav-item dropdown"> 
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> More 
						</a> <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <li>
							<a class="dropdown-item" href="/discord">Discord</a></li>
							<li>
								<a class="dropdown-item" href="/github">GitHub</a></li> <li><a class="dropdown-item" href="/docs">Docs</a></li> </ul> </li> </ul> </div> </div> </nav>

	<center><h1 class="fw-bold text-light" >
		Releases
	</h1></center>

	<center>
		<p class="fw-bold text-light">v1: </p>
		<h4 class='text-light'>Cat <span class="badge rounded-pill badge bg-danger">New</span></h4>
	 <h4 class='text-light'>Wallpapers <span class="badge rounded-pill badge bg-danger">New</span></h4>
		 <h4 class='text-light'>Turtles <span class="badge rounded-pill badge bg-danger">New</span></h4>
	</center>
	<!-- q odio -->

	<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-light">&copy; 2021 Torix, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>
		<div class="col">
      <ul class="nav flex-column">
      <div class="d-grid gap-2 col-6">
  <a href="https://discord.gg/tYqKFJaP8c"><button  type="button" class="btn btn-outline-light">Discord</button>
	<a href="https://github.com/leoo027/torixApi"><button type="button" class="btn btn-outline-light">GitHub</button>
</div>
      </ul>
    </div>
  
  </footer>
</div>
	
</body>
</html>
